/* body{ */
    /* background-image: url(image10.jpg); */
    background-color:  #A64B2A;
    color: #000000;
    background-size: cover;
    margin-left: 5%;
    background-image:
}
header{
  color: maroon;
}
.navbar-brand{
    font-size: 30px;

}
 .navButton{
    color: #ffffff;
    background-color: maroon;
    width: 100px;
    height: 35px;
    border-radius: 5px;
    border-color: maroon;
    font-weight: bold;
}
.navButton:hover {
  color: tomato;
}

main{

    margin-top: 7%;

}
#first{
    color: #000000;
    font-size: 65px;
    line-height:2;
}
#second{
    color: maroon;
    font-size: 43px;
}
#mainblock p{
    color: brown;
    font-weight: bolder;
}
main h1{
    color: tomato;
    font-weight: bolder;
    font-size: 50px;
}
main button{
    width: 250px;
    height: 35px;
    border-radius: 5px;
    font-weight: bold;

}
#firstButton{
    margin-right: 20px;
    background-color: darkgoldenrod;
    font-size: 15px;
}
#secondButton{
    background-color: transparent;
    font-weight: bolder;
    font-size: 15px;
}
@media (max-width: 1028px) {
  #first{
    line-height: 1;
  }
  #Buttons{
    text-align: center;
    margin: 0;
    padding : 0;
  }
  #firstButton{
    margin-bottom: 10px;
  }
  body{
    margin: 5%;

  }
}
